<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partial/style')%>
</head>
<body>
<h1>Are you  sure?</h1>
<button><a href="/products/deleteProduct/<%= idDelete %>">Yes</a></button>
<button><a href="/home">No</a></button>
</body>
<%- include('../partial/js')%>
</html>